<h1> Moniers' Notes </h1>

<% @posts.each  do |post| %>

<h2> <%= link_to post.title, post %> </h2>
<% if post.draft? %>
    <div class="p-2 rounded bg-gray-100 text-gray-900"> Draft </div>
<% end %>
<p> <%= post.body.truncate(50)%> </p>

<% end %>

